/.vscode
Code maker.code-workspace
*.jpg
*.m4v
*.png
*.png
*.csv
*.bin
/*.ztfl
/*.ztsl
backup.py
build
/__pycache__
*.mp4
*.pyd
frameStream.h
frameStream.cpp
l_frames_compressed.ztfl
l_subframes.ztsl
